@import 'variables/colors';

@import 'home';
@import 'notfound';
@import 'products-list';

@import 'components/buttons';
@import 'components/cards';
@import 'components/search';
@import 'components/modal';
@import './fonts';



* {
    box-sizing: border-box;
}

body {
    background-color: $color-secondary;
}

main {
    min-height: 500px;
}

input[type=number]{
    -webkit-appearance: textfield;
    margin: 0;
    -moz-appearance:textfield;
}
.hidden{
    display:none;
}

.images-old{
    height: 200px;
    width: 200px;
}

body > #standalone-container {
    margin: 50px auto;
    max-width: 720px;
}
#editor {
    height: 350px;
}
.errorPrueba{
    color: red;
}