<header>
  <img src="/logo/logo-color.png" alt="Logotipo de Geeky">
  <div class="user-menu">
    <img src="/logo/user.png" alt="Usuario Administrador">
    <a href="/admin/logout"><i class="fas fa-sign-out-alt"></i></a>
  </div>
</header>
<nav class="mainnav">
  <div>
    <a href="/admin/productos" class="btn btn-success"><i class="fas fa-gift"></i><p class="mainnav-p">Productos</p></a>
    <a href="/admin/clientes" class="btn btn-warning"><i class="fas fa-address-card"></i><p class="mainnav-p">Clientes</p></a>
    <a href="/admin/pedidos" class="btn btn-danger"><i class="fas fa-shopping-basket"></i><p class="mainnav-p">Pedidos</p></a>
  </div>
</nav>