//Main colors
$color-primary: #0f606b;
$color-secondary: #a7d2dd;
$color-warning: #fff952;
$color-info: #e1ebec;

//Grey Scale
$color-light:#ffffff;
$color-dark: #000000;
$color-dark-grey: #202020;
$color-medium-grey: #3f3f3f;
$color-light-grey: #707070;

//Info colors
$color-error: #7a0000;
$color-sucess: rgb(41, 100, 41);