<main class="login">
  <div>
    <img class="login-logo" src="/logo/logo-color.png" alt="Logotipo Geeky" />
    <form class="login-form" action="/admin" method="POST">
      <h1 class="login-title">Acceso administrador</h1>
      <label class="form-label">Email</label>
      <input type="text" name="email" class="form-control" placeholder="Introduce tu email" />
      {{#if userError}}
      <p class="alert alert-warning" role="alert">{{ userError }}</p>
      {{/if}}
      <label class="form-label">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Introduce tu contraseña" />
      {{#if passError}}
      <p class="alert alert-warning" role="alert">{{ passError }}</p>
      {{/if}}
      <button type="submit" class="btn btn-info">Login</button>
    </form>
  </div>
</main>